<header data-bs-theme="dark">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark py-0" style="height: 100px;">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="/img/logo3.jpg" style="width: 150px; border: 5px outset #0549A8;
border-radius: 40px;">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarOffcanvasLg"
                aria-controls="navbarOffcanvasLg" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="navbarOffcanvasLg"
                aria-labelledby="navbarOffcanvasLgLabel">

                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menú</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>

                <div class="offcanvas-body" style="justify-content: space-between;">
                    <div class="navbar-nav justify-content-end mb-2 mb-md-0">

                        <span class="navbar-text" style="color: #eba0b8;">
                            Hola {{user.role}} {{user.first_name}}!
                        </span>

                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/products">Productos</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Categorías
                            </a>
                            <ul class="dropdown-menu" style="z-index: 2;">
                                <li><a class="dropdown-item" href="/products?category=Home+%26+Kitchen">Bazar y
                                        cocina</a></li>
                                <li><a class="dropdown-item" href="/products?category=Electronics">Electrónica</a></li>
                                <li><a class="dropdown-item" href="/products?category=Furniture">Muebles</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>

                                <li><a class="dropdown-item" href="/products?category=Clothing">Ropa</a></li>
                                <li><a class="dropdown-item" href="/products?category=Beauty">Belleza</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="/products?category=Sports">Deportes</a></li>

                            </ul>
                        </li>


                    </div>
                    <div class="navbar-nav smb-2 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/chat"><i class="fa-regular fa-comments"></i> Chat</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link disabled" aria-disabled="true"><i class="fa-regular fa-user"></i> Mi
                                cuenta</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link active" href="/carts/{{user.cart._id}}"><i
                                    class="fa-solid fa-cart-shopping"></i> Mi carrito</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/api/sessions/logout"><i
                                    class="fa-solid fa-arrow-right-from-bracket"></i> Log
                                out</a>
                        </li>
                    </div>

                </div>

            </div>
        </div>
    </nav>
</header>
<main>
    <div class="container">


        <div class="card">
            <div class="row">
                <div class="col-md-8 cart" id="cart-id" data-cart-id="{{user.cart._id}}">
                    <div class="title">
                        <div class="row">
                            <div class="col">
                                <h4><b>Tu carrito</b></h4>
                            </div>
                            <div class="col align-self-center text-right text-muted" id="cart-badge"></div>
                        </div>
                    </div>
                    <div id="cart-products">

                    </div>

                    <div class="back-to-shop"><a href="/products" class="btn btn-dark">&leftarrow;</a><span
                            class="text-muted ms-2">Volver a la tienda</span>
                    </div>
                </div>
                <div class="col-md-4 summary">
                    <div>
                        <h5 class="title"><b>Resumen</b></h5>
                    </div>

                    <div style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">

                        <div class="row  mb-3">
                            <div class="col">SUBTOTAL</div>
                            <div class="col text-right" id="subtotal"></div>
                        </div>
                        <div class="row align-items-center my-3">
                            <p class="col m-0">ENVÍO</p>
                            <select class="col" id="shippingSelect">
                                <option class="text-muted" value="">Seleccionar opción</option>
                                <option class="text-muted" value=5>Envío estándar- &dollar;5</option>
                                <option class="text-muted" value=8>Envío rápido- &dollar;8</option>
                            </select>
                        </div>
                        <div class="row align-items-center my-3">
                            <p class="col m-0">DESCUENTO</p>
                            <input class="col" id="code" placeholder="CÓDIGO">
                        </div>


                        <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                            <div class="col">TOTAL</div>
                            <div class="col text-right" id="total"></div>
                        </div>
                        <div class="d-flex justify-content-center">
                            <button
                                class="btn btn-dark gradient-custom-2 mb-3 text-uppercase mr-2 px-4 btn-shadow" id="checkout" data-user-email="{{user.email}}">CHECKOUT</button>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>
</main>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
 <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>   
<script src="/js/cart.js"></script>
